.wrapper {
}

.item {
}
.degree {
  margin: 2px 0;
  font-weight: bold;
}
.period,
.place {
  margin: 0;
  color: rgb(var(--accent));
  font-style: italic;
  font-size: 12px;
}
.place {
}
.univercity {
  margin: 2px 0;
}
