.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.degree {
  margin: 2px 0;
  font-weight: bold;
}
.item {
}
.period,
.place {
  margin: 0;
  color: rgb(var(--accent));
  font-style: italic;
  font-size: 12px;
}
.place {
}
.univercity {
  margin: 2px 0;
}
