.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* font-size: 15px; */
  height: 25px;
  padding: 2px 5px 2px 30px;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

.icon[data-type='mail'] {
  background-image: url('./images/mail.svg');
}
.icon[data-type='linkedin'] {
  background-image: url('./images/linkedin.svg');
}
.icon[data-type='facebook'] {
  background-image: url('./images/facebook.svg');
}
.icon[data-type='telegram'] {
  background-image: url('./images/telegram.svg');
}

.icon[data-type='telegram'][data-checked='true'],
.icon[data-type='facebook'][data-checked='true'],
.icon[data-type='linkedin'][data-checked='true'],
.icon[data-type='mail'][data-checked='true'] {
  background-image: url('./images/check.svg');
}

.link {
  text-decoration: none;
  height: 20px;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
}

@media print {
  .link {
    color: white !important;
  }
}
