.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  border-radius: 6px;
  padding: 6px 14px;
  background-color: rgba(var(--bg-primary), 0.6);
  color: white;
}

@media print {
  .skill {
    box-shadow: inset 0 0 0 1000px rgba(var(--bg-primary), 0.9);
  }
}
