.layout {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1182px;
  padding: 5px 10px;
  margin: 0 auto;
}

.header,
.main,
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 0 1 auto;
  background-color: rgba(var(--background), 0.9);
}
.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 15px;
}
.delimiter {
}

.about,
.contacts {
  width: 100%;
}
.about {
  background-color: rgba(var(--background), 0.9);
  padding: 20px 0;
}
.contacts {
  background-color: rgba(var(--background-accent), 0.9);
  padding: 10px 0;
}

.main {
  flex: 1 1 auto;
  background-color: white;
  color: black;
}

.footer {
  flex: 0 1 auto;
  background-color: rgba(var(--background-accent), 0.9);
}

@media print {
  /* TODO: этот оверлей для принтинга затеняет весь контент */
  .header {
    box-shadow: inset 0 0 0 1000px rgba(var(--background), 0.9);
  }
  .footer {
    display: none;
  }
}
