.layout {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1182px;
  padding: 5px 10px;
}

.header,
.main,
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  padding: 20px 10px;
  box-sizing: border-box;
}

.header {
  flex: 0 1 auto;
  background-color: rgba(var(--bg-primary), 0.9);
}
.main {
  flex: 1 1 auto;
  background-color: white;
  color: black;
}

.footer {
  flex: 0 1 auto;
  background-color: rgba(0, 56, 83, 0.5);
}

@media print {
  /* TODO: этот оверлей для принтинга затеняет весь контент */
  .header {
    box-shadow: inset 0 0 0 1000px rgba(var(--bg-primary), 0.9);
  }
  .footer {
    display: none;
  }
}
