.layout {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
}

.header,
.main,
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  padding: 20px 10px;
  box-sizing: border-box;
}

.header {
  flex: 0 1 auto;
  background-color: rgba(145, 212, 210, 0.5);
}
.main {
  flex: 1 1 auto;
  background-color: rgba(69, 187, 137, 0.3);
}

.footer {
  flex: 0 1 auto;
  background-color: rgba(0, 56, 83, 0.5);
}
