.wrapper {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 15px 0;
}

.info {
  text-align: center;
  width: 100%;
}

.role {
  color: rgb(var(--accent));
}
.photo {
  display: flex;
  height: 160px;
  border: 6px solid rgb(var(--accent));
  margin: auto;
  border-radius: 50%;
  background-image: url(http://localhost:3000/features/static/media/me.f992154….jpeg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.img {
  border-radius: 50%;
}
@media screen and (min-width: 576px) {
  .wrapper {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .info {
    text-align: left;
  }

  .photo {
    margin-left: auto;
    margin-right: 100px;
  }
}
