.wrapper {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 15px 0;
}

.info {
  text-align: center;
  width: 100%;
}

.role {
  color: rgb(var(--accent));
}
.photoWrapper {
  border: 6px solid rgb(var(--accent));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
}
.photo {
  height: 148px;
  width: 148px;
  box-sizing: border-box;
  border-radius: 50%;
}
.img {
  border-radius: 50%;
}

@media screen and (min-width: 992px) {
  .photoWrapper {
    margin-left: auto;
    margin-right: 125px;
  }
}
@media screen and (min-width: 576px) {
  .wrapper {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .info {
    text-align: left;
  }
}
