.wrapper {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.info {
}
.role {
  color: rgb(var(--accent));
}
.photo {
  display: flex;
  position: absolute;
  right: 10px;
  width: 160px;
  height: 160px;
  border: 6px solid rgb(var(--accent));
  margin-left: auto;
  border-radius: 50%;
  background-image: url('./images/me.jpeg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.img {
  border-radius: 50%;
}
