.list {
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0;
}
.list[data-mode='vertical'] {
  flex-direction: row;
}
.list[data-mode='vertical'] {
  flex-direction: column;
}

.listItem {
  color: white;
  text-decoration: none;
}
.listItem.active {
  background-color: red;
}

@media print {
  .list {
    display: none;
  }
}
