:root {
  /* light theme tokens */
  --bg-primary-light: 17, 97, 142;
  --text-primary-light: 66, 198, 172;

  /* dark theme tokens */
  --bg-primary-dark: 0, 0, 0;
  --text-primary-dark: 66, 198, 172;
}

/* map tokens to proper theme */
[data-theme='light'] {
  --bg-primary: var(--bg-primary-light);
  --text-primary: var(--text-primary-light);
}

[data-theme='dark'] {
  --bg-primary: var(--bg-primary-dark);
  --text-primary: var(--text-primary-dark);
}
