:root {
  /* light theme tokens */
  --background-light: 44, 191, 170;
  --background-accent-light: 41, 170, 148;
  --accent-light: 37, 89, 88;

  /* dark theme tokens */
  --background-dark: 25, 48, 66;
  --background-accent-dark: 18, 35, 45;
  --accent-dark: 90, 182, 204;
}

/* map tokens to proper theme */
[data-theme='light'] {
  --background: var(--background-light);
  --background-accent: var(--background-accent-light);
  --accent: var(--accent-light);
}

[data-theme='dark'] {
  --background: var(--background-dark);
  --background-accent: var(--background-accent-dark);
  --accent: var(--accent-dark);
}
