.wrapper {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.toggler {
  position: absolute;
  right: 0;
  z-index: 10;
}

.info {
}
.role {
  color: rgb(var(--text-primary));
}
.photo {
  display: flex;
  position: absolute;
  right: 10px;
  width: 160px;
  height: 160px;
  border: 6px solid rgb(var(--text-primary));
  margin-left: auto;
  border-radius: 50%;
  background-image: url('./images/me.jpeg');
  background-position: center;
  background-size: cover;
}
.img {
  border-radius: 50%;
}
.contacts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 5px;
}
.link {
  width: 50%;
}
