:root {
  --left-width: 60%;
  --gap: 10%;
}
.wrapper {
  width: 100%;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.about {
  width: 100%;
  margin-bottom: 15px;
}
.leftColumn {
  /* width: var(--left-width); */
  min-width: 360px;
  max-width: 567px;
}

.title {
  color: rgb(var(--accent));
  width: 100%;
  margin: 0 0 15px 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.education {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (min-width: 780px) {
  .rightColumn {
    margin-left: auto;
    width: calc(100% - var(--gap) - var(--left-width));
  }
}
