:root {
  --left-width: 60%;
  --gap: 10%;
}
.wrapper {
  width: 100%;
  display: flex;
  gap: var(--gap);
}

.leftColumn {
  width: var(--left-width);
}
.rightColumn {
  margin-left: auto;
  width: calc(100% - var(--gap) - var(--left-width));
}
