.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.meta {
  width: 100%;
  margin-bottom: 10px;
}
.role {
  margin: 0 0 10px 0;
}
.meta {
  display: flex;
  flex-wrap: wrap;
}
.showDetailsButton {
  cursor: pointer;
}
.showDetailsButton,
.period {
  margin: 0;
  color: rgb(var(--accent));
  font-style: italic;
  font-size: 12px;
}
.place {
  margin: 0;
  display: flex;
  margin-left: auto;
  color: rgb(var(--accent));
  font-style: italic;
  font-size: 16px;
}
.company {
  margin: 0;
}

.achievements {
  width: 100%;
}
.achievementsTitle {
  margin: 0;
}
.achievementsList {
  padding: 0;
  margin: 0 0 10px;
  color: rgb(var(--accent));
  padding-left: 15px;
}
.achievementsItem {
}

@media print {
  .showDetailsButton {
    display: none;
  }
}
