.details {
  border-radius: 6px;
  color: rgba(var(--background), 0.6);
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  margin: 5px 0;
  display: inline-block;
}

.details:hover {
  color: rgba(var(--background), 1);
}
