.details {
  border-radius: 6px;
  color: rgba(var(--background-primary), 0.6);
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  margin: 5px 0;
  display: inline-block;
}

.details:hover {
  color: rgba(var(--background-primary), 1);
}
.item {
  border: 1px solid rgba(var(--background-primary), 0.6);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 5px 10px 0;
}
.name {
  font-weight: bold;
  margin: 5px 0;
  padding: 0;
}
.description {
  margin: 0;
  padding: 0;
  color: rgba(var(--accent), 1);
}
