:root {
  --left-width: 60%;
  --gap: 10%;
}
.wrapper {
  width: 100%;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('./images/bg.svg'), url('./images/bg2.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
}

.about {
  margin-bottom: 15px;
  max-width: 567px;
  margin: auto;
  width: 100%;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.rightColumn {
  /* margin: auto; */
  margin-left: auto;
}
.leftColumn {
  /* margin: auto; */

  min-width: 320px;
  max-width: 567px;
}

.title {
  color: rgb(var(--accent));
  width: 100%;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.education {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.download {
  width: 25px;
  height: 25px;
  background-image: url('./images/save.svg');
  color: rgb(var(--accent));
  padding: 0;
  margin: 0;
  border: none;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.download:hover {
  transform: scale(1.1);
}

@media print {
  .download {
    display: none;
  }
}
@media screen and (min-width: 567px) {
  .about,
  .leftColumn {
    max-width: 780px;
  }
  .columns {
    max-width: 780px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .about {
    width: 100%;
    max-width: 100%;
  }
  .columns {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  .leftColumn {
    max-width: 567px;
  }
  .rightColumn {
    margin-left: auto;
    max-width: 360px;
  }
}
